site_name: click-params
site_description: click-params package documentation
site_author: Kevin Tewouda
site_url: https://click-params.readthedocs.io

repo_url: https://github.com/click-contrib/click_params/
edit_uri: tree/master/docs

theme:
  name: material
  palette:
    - scheme: default
      toggle:
        icon: material/lightbulb-outline
        name: Switch to dark mode
    - scheme: slate
      primary: teal
      accent: teal
      toggle:
        icon: material/lightbulb
        name: Switch to light mode

nav:
  - Home: index.md
  - Installation: installation.md
  - Usage:
      - Domain: usage/domain.md
      - Network: usage/network.md
      - Numeric: usage/numeric.md
      - Miscellaneous: usage/miscellaneous.md
  - Tests: tests.md
  - API: api.md
  - Changelog: changelog.md

markdown_extensions:
  - toc:
      permalink: true
  - admonition
  - codehilite:
      css_class: highlight
